button{
    height: 90px;
    width: 450px;
    margin: 40px;
    background-color: #9A0808;
    border: none;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.4);
}
.venha{
    color: white;
    font-family: Baskerville;
    font-size: 1.875rem;
}
button:hover{
    transform: scale(1.1);
    transition: ease-in-out .7s;
    background-color: #c50f0f;
}
.home-cont{
    display: flex;
    align-items: center;
}
.makeup{
    align-items: flex-end;
    width: 100vw;
    height: 650px;
}
.makeup-mobile{
    display: none;
}
@media(max-width:768px){
    .makeup{
        display: none;
    }
    .makeup-mobile{
        display: flex;
        width: 100vw;
    }
    .venha{
        font-size: 1rem;
    }
    button{
        width: 300px;
        height: 70px;
    }
}