.conjunto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    height: 700px;
    margin-top: 5px;
}
.div{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 200px;
    align-items: flex-start; 
}

.img-news{
    width: 500px;
    height: 320px;
    border: 6px solid #980808;
}

.noticias-text {
    display: flex;
    width: 1050px;
    font-family: 'Basic';
    color: #00000099;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 70px;
}

.news-image{
    width: 500px;
    height: 320px;
    border: 6px solid #980808;
}

.retangulo, .retangulo2{
    width: 750px;
    height: 4px;
}

@media(max-width:1620px){
    .noticias-text{
        font-size: 1.2rem;
        width: 850px;
    }
    .news-image, .img-news{
        width: 400px;
        height: 280px;
    }
}

@media(max-width:1320px){
    .noticias-text{
        font-size: 1rem;
        width: 650px;
    }
    .retangulo2{
        display: none;
    }
    .news-image, .img-news{
        width: 350px;
        height: 250px;
    }
}

@media(max-width:768px){
    #newsletter{
        gap: 20px;
    }

    .conjunto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .div{
        align-items: center;
        height: 100px;
    }
    .noticias-text{
        font-size: 0.8rem;
        width: 600px;
        line-height: 20px;
        text-align:center;
    }
    .news-image, .img-news{
        width: 300px;
    }
    .retangulo{
        display: none;
    }
}

@media(max-width:412px){
    #conjunto2{
        gap: 15px;
    }
    .noticias-text{
        width: 400px;
        font-size: 0.9rem;
    }
}

@media(max-width:393px){
    .noticias-text{
        width: 380px;
    }
}

@media(max-width:375px){
    .noticias-text{
        font-size: 0.8rem;
        width: 350px;
    }
    .news-image, .img-news{
        width: 270px;
        height: 150px;
    }
}

@media(max-width:360px){
    .noticias-text{
        font-size: 0.8rem;
        width: 320px;
    }
    .news-image, .img-news{
        height: 200px;
    }
}